.blog_post {
    background: #fff;
    max-width: 29%;
    margin: 0px 27px;
    border-radius: 10px;
    box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
    position: relative;
}
  
  
  .container_copy {
    padding: 6rem 4rem 5rem 4rem;
  }
  
  .img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
  }
  
  h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: #333;
  }
  
  p {
    margin: 0 0 4.5rem 0;
    font-size: 1.2rem;
    line-height: 1.45;
    color: #333;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 120px;
}
  